/* Font declarations */
@font-face {
    font-family: 'Kollektif';
    src: url('public/fonts/Kollektif.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kollektif';
    src: url('public/fonts/Kollektif-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Kollektif';
    src: url('public/fonts/Kollektif-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Kollektif';
    src: url('public/fonts/Kollektif-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('public/fonts/Sofia Pro Bold Az.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('public/fonts/Sofia Pro Bold Italic Az.otf') format('truetype');
    font-weight: bold;
    font-style: italic;
}


@font-face {
    font-family: 'Sofia Pro';
    src: url('public/fonts/Sofia Pro Black Italic Az.otf') format('truetype');
    font-weight: bolder;
    font-style: italic;
}


@font-face {
    font-family: 'Sofia Pro';
    src: url('public/fonts/Sofia Pro Black Az.otf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('public/fonts/Sofia Pro Regular Italic Az.otf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('public/fonts/Sofia Pro Regular Az.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* #101030 'black' (background colour) */ 
/* #FFFFFF 'white' (font colour) */ 
/* #E03010 'red' (primary colour) */ 
/* #FFC040 'yellow' (secondary colour) */ 
/* #80B0B0 'teal' (tertiary colour) */ 

/* Examples of using different font weights and styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth
}

body {
    font-family: 'Sofia Pro', sans-serif;
    font-weight: normal;

    line-height: 1.6;
    color: #FFFFFF; 
    background-color: #101030; /* background colour */ 
    right:0px;
    left:0px;
}

h1, h2, h3, a {
    font-family: 'Kollektif';
    font-weight: bold;
    text-decoration: none;
}

h1 {
    font-size: 32px;
    padding-bottom: 16px;
}

img {
    opacity:0.9;
    cursor:pointer;
    transition: 0.1s;

}

img:hover {
    transition: 0.1s;
    opacity:1;
}

#navbar {
    opacity:0;
    display:flex;
    position: fixed;
    flex-direction: row;
    width: 100%;
    height: clamp(60px, 20vw, 80px);
    z-index: 4;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    transition: outline 0.1s, opacity 0.1s;
    backdrop-filter: blur(16px);
}

.hamburger {
    display:none;
    cursor:pointer;
    height:24px;
    aspect-ratio: 1/1;
    image-rendering: pixelated;  /* For modern browsers */
    image-rendering: -moz-crisp-edges;    /* Firefox */
    image-rendering: crisp-edges; /* Safari */
    -ms-interpolation-mode: nearest-neighbor;  /* IE (old) */
    border-bottom: solid 0px #FFFFFF;
    transition: border-bottom-width 0.1s;  /* Specifically transition the border width */
}

.hamburger:hover {
    border-bottom: solid 3px #FFFFFF;
    transition: border-bottom-width 0.1s;  /* Specifically transition the border width */

}


.navbar-links {
    display: flex;
    float:right;
    gap:16px;
}

a {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    color:#FFFFFF;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 8px;
    border-bottom: solid 0px #FFFFFF;
    transition: border-bottom-width 0.1s;  /* Specifically transition the border width */
}

a:hover {
    border-bottom: solid 3px #FFFFFF;
    transition: border-bottom-width 0.1s;  /* Specifically transition the border width */
}

#navbar-logo {
    position:relative;
    height: 100%;
}

#logo {
    position:absolute;
    height: 100%;
    transition: opacity 0.1s;
}

#icon {
    display:none;
    position:absolute;
    height: 100%;
    opacity: 0;
    transition: opacity 0.1s;
}


.hero-padding {
    position:relative;
    width:100%;
    height:100%;
    min-height: 100vh;
    pointer-events: none;
}


.hero {
    position:fixed;
    top:0px;
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    /* position: relative; */
    overflow: hidden;
    background-color: #101030;
}

.hero-fov {
    position: absolute;
    /* Set a matching height using aspect-ratio */
    aspect-ratio: 1 / 1;
    z-index: -1;
    border-radius: 50%;  /* 50% creates a perfect circle */
    overflow: hidden;
    outline: 2px solid #FFFFFF;  /* Using your 'white' color */
    outline-offset: 8px;  /* This creates the gap you want */
    pointer-events: none;
}


.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
}

.hero-image[data-index="0"] {
    background-image: url('public/imgs/w3_2_composite.jpg');
    opacity: 0;
    transition: 0.5s;
}

.hero-image[data-index="1"] {
    background-image: url('public/imgs/w3_2_aligned_1.jpg');
}

.hero-image[data-index="2"] {
    background-image: url('public/imgs/w3_2_aligned_2.jpg');
}

.hero-image[data-index="3"] {
    background-image: url('public/imgs/w3_2_aligned_3.jpg');
}

.hero-image[data-index="4"] {
    background-image: url('public/imgs/w3_2_aligned_4.jpg');
}

#sections {
    margin:auto;
    background-color: #00000060;
    backdrop-filter:blur(16px);
    border-top: 2px solid #FFFFFF;
    padding:32px;
    color:#FFFFFF;
    font-size:24px;
}

.section {
    position:relative;
    z-index:2;
    background-color: #FFFFFF00;
    height:max-content;
    /* width:80%; */
    padding:32px;

    scroll-margin-top: 64px;
    opacity:0.9;
    transition: 0.1s;
}

.section:hover {
    opacity:1;
    transition: 0.1s;
}

.highlight {
    transition: 1s;
}

.highlight-container:hover > .highlight {
    transition: 1s;
    color: #E03010; 

}

#clients {
    margin-top:32px;
    margin-bottom:32px;
    border-top:2px solid #FFFFFF;
    border-bottom:2px solid #FFFFFF;

}

.carousel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap:16px;
    overflow-x:hidden;
    justify-content: space-around;
}
.carousel img {
    max-height:5vh;

}


/* #services {
    outline: 2px solid #FFFFFF;
    outline-offset: 8px;
} */

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:64px;
}

.card {
    width:100%;
    opacity:0.9;
    transition: 0.1s;
}

.card:hover {
    opacity:1;
    transition: 0.1s;
}

.card-name {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.card-name img {
    height:24px;
}

h3 {
    border-bottom: solid 0px #FFFFFF;
    transition: border-bottom-width 0.1s;  /* Specifically transition the border width */ 
}

.card:hover h3 {
    border-bottom: solid 3px #FFFFFF;
    transition: border-bottom-width 0.1s;  /* Specifically transition the border width */
}

#profiles {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    gap:32px;
}

.profile {
    display:flex;
    position: relative;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    opacity:0.9;
    transition: 0.1s;
}

.profile:hover {
    opacity:1;
    transition: 0.1s;
}

.profile-role {
    font-weight: bolder;
}

.profile-tasks {
    font-size: 18px;
}

.footer {
    background: var(--dark);
    color: #FFFFFF;
    padding: var(--spacing-lg) var(--spacing-md);
}


/* For landscape orientation (wider than tall) */
@media (aspect-ratio > 1/1) {
    .hero-fov {
        height: 80%;  
    }
}

/* For portrait orientation (taller than wide) */
@media (aspect-ratio < 1/1) {
    .hero-fov {
        width: 80%;  
    }
}

/* For portrait orientation (taller than wide) */
@media (aspect-ratio < 3/4) {
    .hamburger {
        display: flex;
    }

    .hero-image {
        display:block !important;
        transition: opacity 0.5s !important;
    }

    .navbar-links {
        position: fixed;
        top: 0;
        right: -100%;  /* Hide off-screen initially */
        width: 100%;
        height: 100vh;
        background-color: #101030;  /* Your background color */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: right 0.3s ease;
        border-bottom: none;
    }

    .navbar-links.active {
        right: 0;  /* Slide in when active */
    }

    .navbar-links a {
        font-size: 24px;  /* Larger font for mobile menu */
        margin: 20px 0;
    }

    .cards {
        flex-direction: column;
    }

    #profiles {
        flex-direction: column;

    }

    .profile-name {
        font-weight: bolder;
        font-size:20px;
    
    }
    
    .profile-role {
        font-size:16px;
    }

    .profile-tasks {
        font-size:14px;
    }
    
}